{"openapi":"3.1.0","info":{"title":"Hilt Solana Transaction Evidence API","version":"1.0.0","description":"Pay-per-request normalized evidence for finalized Solana transactions. Payment uses x402 V2 with Solana USDC."},"servers":[{"url":"https://www.hilt.so"}],"paths":{"/v1/solana/transaction-evidence":{"post":{"operationId":"getSolanaTransactionEvidence","summary":"Fetch finalized Solana transaction evidence","description":"Returns signers, invoked programs, SOL and token balance changes, parsed transfers, finality status, fee, timestamp, and explicit evidence boundaries for one finalized Solana mainnet transaction.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionEvidenceRequest"},"example":{"request_id":"pay-sh-probe-2026-08-26","transaction_signature":"2Ana1pUpv2ZbMVkwF5FXapYeBEjdxDatLn7nvJkhgTSXbs59SyZSx866bXirPgj8QQVB57uxHJBG1YFvkRbFj4T"}}}},"responses":{"200":{"description":"Finalized transaction evidence","headers":{"PAYMENT-RESPONSE":{"description":"x402 V2 settlement response when this request settled a payment.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionEvidenceResponse"}}}},"402":{"description":"Solana USDC payment required","headers":{"PAYMENT-REQUIRED":{"required":true,"description":"Base64-encoded x402 V2 payment requirement.","schema":{"type":"string"}}}},"404":{"description":"Transaction not found at finalized commitment"},"422":{"description":"Invalid request"},"502":{"description":"Solana evidence provider unavailable"}},"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]}}}},"components":{"schemas":{"TransactionEvidenceRequest":{"type":"object","additionalProperties":false,"required":["request_id","transaction_signature"],"properties":{"request_id":{"type":"string","minLength":8,"maxLength":120,"pattern":"^[A-Za-z0-9._:-]{8,120}$","description":"Fresh retry key for one paid lookup. Reuse it only when retrying that same request."},"transaction_signature":{"type":"string","description":"Solana transaction signature to inspect at finalized commitment."}}},"TransactionEvidenceResponse":{"type":"object","required":["network","signature","status","slot","block_time","fee_lamports","fee_sol","signers","program_ids","native_balance_changes","token_balance_changes","parsed_transfers","warnings","boundary"],"properties":{"network":{"type":"string","const":"solana:mainnet"},"signature":{"type":"string"},"status":{"type":"string","enum":["finalized_success","finalized_failed"]},"slot":{"type":"integer"},"block_time":{"type":["string","null"],"format":"date-time"},"fee_lamports":{"type":"integer"},"fee_sol":{"type":"string"},"signers":{"type":"array","items":{"type":"string"}},"program_ids":{"type":"array","items":{"type":"string"}},"native_balance_changes":{"type":"array","items":{"type":"object"}},"token_balance_changes":{"type":"array","items":{"type":"object"}},"parsed_transfers":{"type":"array","items":{"type":"object"}},"warnings":{"type":"array","items":{"type":"string"}},"boundary":{"type":"string"}}}}}}